.collection-page {
    display:flex;
    flex-direction: column;

    .title{
        font-size: 2em;
        margin: 0 auto 1.5em;

    }

    .items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: .25em;

        & .collection-item {
            margin-bottom: 1.5em;
        }
    }
}