.sign-in {
    width:380px;
    display:flex;
    flex-direction: column;
    
    .title {
        margin:.5em 0;
    }

    .button-container {
        display:flex;
        justify-content: space-between;
    }
}