.sign-in {
    width:40%;
    display:flex;
    flex-direction: column;
    
    .title {
        margin:.5em 0;
    }

    .button-container {
        display:flex;
        flex-direction: column;
        justify-content: space-between;

    }   
}